:root {
    --back:  #000000;
    --backt:  #000000;
    --white:#FCF8EC;
     --whitet:#ffffff;
    --darkgreen:#1A3D3A;
    --d2:#012614;
    --lightgreen:#017F01;
    --lightgreen1:#017F01;
    --hover:#04c504;
    --yellow:#F7BA26;
    --find:#1a2e7a;
    --blue:#203A8E;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    --orange:#ff4d4d;
    --selected: rgba(1, 127, 1, 0.43);
    --logohover:#04c504;
    --navblur:rgba(252, 248, 236, 0.8);
    --pinkh:#FF92A5;
    --pink:#E77790;
    --lightery:#FFD74D;
    --footer1:rgba(247, 186, 38, 0.10);
    --footer2:rgba(247, 186, 38, 0.30);
    --boardertop:rgba(252, 248, 236, 0.20);
    --shadow:0 12px 25px rgba(0, 0, 0, 0.15);
    --e:linear-gradient(135deg, #8EC5FF 0%, #DAB2FF 100%);
    --e2:linear-gradient(135deg, #7BF1A8 0%, #5EE9B5 100%);
    --e3: linear-gradient(135deg, #FFDF20 0%, #FFB86A 100%);
}
/* DARK MODE */
.dark-mode {
    --back: #FCF8EC;
    --backt:#000000;
    --white:  #012614;
    --whitet:  #FCF8EC;
    --darkgreen:  #FCF8EC;
    --d2: #FCF8EC;
    --lightgreen: #04c504;
    --lightgreen1: #ffffff;
    --hover: #1eff1e;
    --yellow: #f7ba26;
    --find: #8fa3ff;
    --blue: #9bb0ff;
    --shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
    --orange: #ff6b6b;
    --selected: rgba(190, 216, 190, 0.67);
    --logohover: #1eff1e;
    --navblur: rgba(14, 14, 14, 0.85);
    --pinkh: #ff9fb0;
    --pink: #e77790;
    --lightery: #ffd74d;
    --footer1: rgba(247, 186, 38, 0.08);
    --footer2: rgba(247, 186, 38, 0.2);
    --boardertop: rgba(255, 255, 255, 0.15);
}

@font-face {
    font-family: 'mon';
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'ke';
    src: url(fonts/Knewave-Regular.ttf);
}
@font-face {
    font-family: 'po';
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'ne';
    src: url(fonts/NewTegomin-Regular.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'mon';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}
/* nav */
nav {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 19px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--white); 
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; 
}
nav.scrolled {
    background-color:var(--navblur); 
    backdrop-filter: blur(5px); 
}

.navd{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
}

.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--darkgreen);
    font-family: 'ke';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.6px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease; 
}

.hearticon {
    background-image: url(icons/solar_heart-broken.svg);
    width: 44.809px;
    height: 41.176px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    transition: transform 0.3s ease;
}

.logodiv:hover .logo {
    color:var(--logohover); 
}

.logodiv:hover .hearticon {
    transform: translate(-50%, -50%) scale(1.2) rotate(-15deg); 
}


a{
    text-decoration: none;
}
.navbtdiv{
    width: 566px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbt {
    color: var(--lightgreen1);
    font-family: 'po';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
}

.navbt:hover {
    color: var(--hover); 
    cursor: pointer; 
    transform: scale(1.05);
}
.selected{ color:var(--selected);}
.icondiv {
    width: 251px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ar {
    width: 38px;
    height: 38px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.ar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmodediv {
    height: 39.802px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.darkmodebt {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.darkmodebt:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmode {
    color: var(--lightgreen1);
    font-size: 8.923px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.3s ease;
}
.darkmodediv:hover .darkmode {
    color: var(--orange); 
}
.profilediv:hover .darkmode {
    color:var(--orange);
}

.profileicon {
    width: 39px;
    height: 39px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.profileicon:hover {
    transform: scale(1.2);
    filter: brightness(1.5) sepia(0.2) hue-rotate(30deg);
    cursor: pointer;
}

.profilediv {
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logout {
    color: var(--d2);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 66px;
    line-height: normal;
    transition: color 0.3s ease, transform 0.3s ease;
}
.logout:hover {
    color: var(--orange); 
    transform: scale(1.05);
    cursor: pointer;
}
/* section1 */
.s1{
    width:100%;
    height: 646px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s1d1{
    display: flex;
    width: 1344.12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30.688px;
    margin-top: 50px;
}
.getintouch{
    display: flex;
    height: 39.894px;
    padding: 5.626px 16.441px 8.268px 17.389px;
    justify-content: center;
    align-items: center;
    border-radius: 34323528px;
    border: 2.046px solid var(--back);
    color: var(--back);
    text-align: center;
    font-size: 17.901px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.573px; /* 142.857% */
}
.weare{
    color:var(--back);
    text-align: center;
    font-size: 92.063px;
    font-style: normal;
    font-weight: 400;
    line-height: 92.063px; /* 100% */
}
.helpyou{
    color: var(--lightgreen1);
    text-align: center;
    font-size: 92.063px;
    font-style: normal;
    font-weight: 400;
    line-height: 92.063px; /* 100% */
}
.p1{
    color: var(--d2);
    text-align: center;
    font-size: 23.016px;
    font-style: normal;
    font-weight: 400;
    line-height: 35.802px; /* 155.556% */
    width: 831.125px;
}
.s2{
    width:100%;
    height: 1222px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.s2d1{
    display: flex;
    width: 1238.148px;
    height: 1061px;
    padding-right: 0.001px;
    justify-content: center;
    align-items: flex-start;
    gap: 56.536px;
}
.child1{
    display: flex;
    width: 590.806px;
    height: 1061px;
    padding: 56.536px 56.536px 0 56.536px;
    flex-direction: column;
    align-items: center;
    gap: 28.268px;
    flex-shrink: 0;
    border-radius: 28.268px;
    background: var(--d2);
}
.sendus{
    color: var(--whitet);
font-size: 42.402px;
font-style: normal;
font-weight: 400;
line-height: 47.114px; /* 111.111% */
}
.child2{
    display: flex;

flex-direction: column;
align-items: flex-start;
gap: 28.268px;
flex-shrink: 0;
align-self: stretch;
}
.baby1{
    display: flex;
height: 93.285px;
flex-direction: column;
align-items: flex-start;
gap: 9.423px;
flex-shrink: 0;
align-self: stretch;
}
.name{
    color: var(--whitet);
font-size: 16.49px;
font-style: normal;
font-weight: 400;
line-height: 23.557px; /* 142.857% */
}
.divname{
    display: flex;
    height: 60.306px;
    padding: 14.134px 28.268px;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 31617400px;
    border: 1.885px solid var(--whitet);
}
.yn{
    color: var(--whitet);
font-size: 18.845px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.divnamee{
    display: flex;
height: 201.647px;
padding: 14.134px 28.268px;
align-items: flex-start;
flex-shrink: 0;
align-self: stretch;
border-radius: 28.268px;
border: 1.885px solid var(--whitet);
width: 477.73px;
}
.sendusamessage{
    display: flex;
padding: 16.253px 100.767px 20.706px 159.966px;
align-items: center;
align-self: stretch;
border-radius: 31617400px;
background:var(--whitet);
color: var(--darkgreen);
text-align: center;
font-size: 18.845px;
font-style: normal;
font-weight: 400;
line-height: 28.268px; /* 150% */
}
.divbaby2{
    display: flex;
height: 241.222px;
flex-direction: column;
align-items: flex-start;
gap: 9.423px;
flex-shrink: 0;
align-self: stretch;
}
.typically{
    color: var(--whitet);
text-align: center;
font-size: 16.49px;
font-style: normal;
font-weight: 400;
line-height: 23.557px; /* 142.857% */
}
.child22{
    display: flex;
    width: 590.806px;
    height: 1061px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28.268px;
    flex-shrink: 0;
}
.emaildiv{
    width: 590.81px;
    height: 287.379px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 28.268px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.e{background: var(--e);}
.e1{background: var(--e2)}
.e2{background: var(--e3)}
.child2baby{
    display: flex;
    width: 496.578px;
    height: 190.325px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}
.iconn{
    width: 56.536px;
    height: 56.536px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.mail{background-image: url(assets/mmmIcon.png);}
.chat{background-image: url(assets/chatIcon.png);}
.phone{background-image: url(assets/phoneIcon.png);}
.t1{
    color: var(--backt);
font-size: 28.268px;
font-style: normal;
font-weight: 400;
line-height: 37.691px; /* 133.333% */
}
.t2{
    color: var(--backt);
font-size: 18.845px;
font-style: normal;
font-weight: 400;
line-height: 28.268px; /* 150% */
}
.t3{
    color: var(--backt);
font-size: 21.201px;
font-style: normal;
font-weight: 400;
line-height: 32.98px; /* 155.556% */

}
.k{
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}
.startchat{
    display: inline-flex;
    padding: 6.832px 26.232px 11.282px 27.09px;
    justify-content: center;
    align-items: center;
    border-radius: 31617400px;
    background: var(--backt);
    color: var(--whitet);
    text-align: center;
    font-size: 18.845px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.268px; /* 150% */
}