:root {
    --back:  #000000;
    --backt:  #000000;
    --white:#FCF8EC;
     --whitet:#FCF8EC;
    --darkgreen:#1A3D3A;
    --d2:#012614;
    --lightgreen:#017F01;
    --lightgreen1:#017F01;
    --hover:#04c504;
    --yellow:#F7BA26;
    --find:#1a2e7a;
    --blue:#203A8E;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    --orange:#ff4d4d;
    --selected: rgba(1, 127, 1, 0.43);
    --logohover:#04c504;
    --navblur:rgba(252, 248, 236, 0.8);
    --pinkh:#FF92A5;
    --pink:#E77790;
    --lightery:#FFD74D;
    --footer1:rgba(247, 186, 38, 0.10);
    --footer2:rgba(247, 186, 38, 0.30);
    --boardertop:rgba(252, 248, 236, 0.20);
    --shadow:0 12px 25px rgba(0, 0, 0, 0.15);
    --gallery:rgba(0,0,0,0.8);
    --next:rgba(0,0,0,0.5);
    --storyconatiner: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: 'mon';
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'ke';
    src: url(fonts/Knewave-Regular.ttf);
}
@font-face {
    font-family: 'po';
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'ne';
    src: url(fonts/NewTegomin-Regular.ttf);
}
@font-face {
    font-family: 'no';
    src: url(fonts/NothingYouCouldDo-Regular.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'mon';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}
/* nav */
nav {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 19px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--white); 
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; 
}
nav.scrolled {
    background-color:var(--navblur); 
    backdrop-filter: blur(5px); 
}

.navd{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
}

.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--darkgreen);
    font-family: 'ke';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.6px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease; 
}

.hearticon {
    background-image: url(icons/solar_heart-broken.svg);
    width: 44.809px;
    height: 41.176px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    transition: transform 0.3s ease;
}

.logodiv:hover .logo {
    color:var(--logohover); 
}

.logodiv:hover .hearticon {
    transform: translate(-50%, -50%) scale(1.2) rotate(-15deg); 
}


a{
    text-decoration: none;
}
.navbtdiv{
    width: 566px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbt {
    color: var(--lightgreen1);
    font-family: 'po';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
}

.navbt:hover {
    color: var(--hover); 
    cursor: pointer; 
    transform: scale(1.05);
}
.selected{ color:var(--selected);}
.icondiv {
    width: 251px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ar {
    width: 38px;
    height: 38px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.ar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmodediv {
    height: 39.802px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.darkmodebt {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.darkmodebt:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmode {
    color: var(--lightgreen1);
    font-size: 8.923px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.3s ease;
}
.darkmodediv:hover .darkmode {
    color: var(--orange); 
}
.profilediv:hover .darkmode {
    color:var(--orange);
}

.profileicon {
    width: 39px;
    height: 39px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.profileicon:hover {
    transform: scale(1.2);
    filter: brightness(1.5) sepia(0.2) hue-rotate(30deg);
    cursor: pointer;
}

.profilediv {
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logout {
    color: var(--d2);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 66px;
    line-height: normal;
    transition: color 0.3s ease, transform 0.3s ease;
}
.logout:hover {
    color: var(--orange); 
    transform: scale(1.05);
    cursor: pointer;
}
/* section1 */
.s1{
    width: 100%;
    height: 698px;
    aspect-ratio: 755/349;
}
.gif-slider {
    position: relative;
    width: 100%;    
    height: 698px;        
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--shadow);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    display: none;
    object-fit: contain; 
}

.slide.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--next);
    color: var(--white);
    font-size: 24px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover,
.next:hover { background: var(--gallery); }
/* section2 */
.s2{
    width: 100%;
    height: 508px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s2d1{
    width: 1202px;
    height: 328.381px;
    display: flex;
    flex-direction: column;
    ALIGN-ITEMS: CENTER;
}
.s2child1{
    width: 1143.582px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h2{
    color: var(--back);
    font-family: "ne";
    font-size: 56.648px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.staricon{
    width: 56.65px;
    height: 56.648px;
    align-self: stretch;
    background-image: url(assets/starrIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.s2child2{
    display: flex;
    width: 1202px;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    margin-top: -20px;
}
.everyimage{
    color: var(--logohover);
    font-family: "no";
    font-size: 56.648px;
    font-style: normal;
    font-weight: 400;
    line-height: 52.222px; /* 92.188% */
}
.p1{
    color: var(--back);
    font-size: 17.703px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 660.303px;
    flex-shrink: 0;
}
.viewbt {
    display: flex;
    width: 270.848px;
    height: 79.661px;
    padding: 17.703px 38.06px;
    justify-content: center;
    align-items: center;
    gap: 11.507px;
    border-radius: 25px;
    background: var(--yellow);
    color: var(--white);
    font-size: 21.243px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-top: 100px;
    margin-left: 120px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px var(--shadow);
}

.viewbt:hover {
    background-color: var(--lightery); 
    transform: translateY(-4px); 
    color: var(--find);
    box-shadow: 0 12px 25px var(--shadow);
}
.s3 {
    width: 100%;
    height: 500px; /* adjust height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel {
    width: 90%;
}

.carousel-track {
    display: flex;
    gap: 40px;
    animation: scroll 15s linear infinite; 
}

.carousel-item {
    width: 250px;       
    height: 350px;     
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 30px; 
    transition: transform 0.3s ease;
}

.carousel-item:hover {
    transform: scale(1.1);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } 
}
/* section 4 */
.s4{
    width: 100%;
    height: 1685px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s4d1{
    width: 1331px;
height: 1600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.visualstory{
    color: var(--blue);
text-align: center;
font-family: "ne";
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
letter-spacing: -0.8px;
}
.p2{
    color: var(--back);
    text-align: center;
    width: 650px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27.2px; /* 170% */
}
.imgdiv{
    width: 1331px;
height: 1428px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.div1{
    width: 652px;
height: 1428px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.i1{
    width: 652px;
height: 522px;
aspect-ratio: 326/261;
background-image: url(assets/i1.png);
background-size: cover;
background-repeat: no-repeat;
}
.i2{
    width: 652px;
height: 291px;
aspect-ratio: 652/291;
background-image: url(assets/i2.png);
background-size: cover;
background-repeat: no-repeat;
}
.div2{
    width: 652px;
height: 565px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.div2baby1{
    width: 325px;
height: 565px;
flex-shrink: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.i3{
    width: 325px;
height: 301px;
aspect-ratio: 325/301;
background-image: url(assets/i3.png);
background-size: cover;
background-repeat: no-repeat;
}
.i4{
    width: 316px;
height: 246px;
aspect-ratio: 158/123;
background-image: url(assets/i4.png);
background-size: cover;
background-repeat: no-repeat;
}
.i5{
    width: 302px;
height: 565px;
flex-shrink: 0;
aspect-ratio: 302/565;
background-image: url(assets/i5\,png.png);
background-size: cover;
background-repeat: no-repeat;
}
.i6{
    width: 651px;
height: 295px;
aspect-ratio: 651/295;
background-image: url(assets/i6.png);
background-size: cover;
background-repeat: no-repeat;
}
.div3{
    width: 651px;
height: 301px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.i7{
    width: 314px;
height: 301px;
aspect-ratio: 314/301;
background-image: url(assets/i7.png);
background-size: cover;
background-repeat: no-repeat;
}
.i8{
    width: 314px;
height: 301px;
aspect-ratio: 314/301;
background-image: url(assets/i8.png);
background-size: cover;
background-repeat: no-repeat;
}
.i9{
    width: 654px;
height: 777px;
aspect-ratio: 218/259;
background-image: url(assets/i9.png);
background-size: cover;
background-repeat: no-repeat;
}
.story-container {
    position: relative;
    border-radius: 30px; 
    overflow: hidden;
    cursor: pointer;
}
.story-container::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--storyconatiner); 
    transition: background 0.3s ease;
}

.story-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-size: 16px;
    line-height: 1.4;
    opacity: 0;
    padding: 15px;
    transition: opacity 0.3s ease;
}
.story-container:hover::before {
    background: var(--next); 
}

.story-container:hover .story-overlay {
    opacity: 1; 
}
.story-container:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
