:root {
    --back:  #000000;
    --backt:  #000000;
    --white:#FCF8EC;
     --whitet:#FCF8EC;
    --darkgreen:#1A3D3A;
    --d2:#012614;
    --lightgreen:#017F01;
    --lightgreen1:#017F01;
    --hover:#04c504;
    --yellow:#F7BA26;
    --find:#1a2e7a;
    --blue:#203A8E;
    --shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    --orange:#ff4d4d;
    --selected: rgba(1, 127, 1, 0.43);
    --logohover:#04c504;
    --navblur:rgba(252, 248, 236, 0.8);
    --pinkh:#FF92A5;
    --pink:#E77790;
    --lightery:#FFD74D;
    --footer1:rgba(247, 186, 38, 0.10);
    --footer2:rgba(247, 186, 38, 0.30);
    --boardertop:rgba(252, 248, 236, 0.20);
    --shadow:0 12px 25px rgba(0, 0, 0, 0.15);
      --preloader:linear-gradient(135deg, #0a0a0a, #1a3d3a);
}
/* DARK MODE */
.dark-mode {
    --back: #FCF8EC;
    --backt:#000000;
    --white:  #012614;
    --whitet:  #FCF8EC;
    --darkgreen:  #FCF8EC;
    --d2: #FCF8EC;
    --lightgreen: #04c504;
    --lightgreen1: #ffffff;
    --hover: #1eff1e;
    --yellow: #f7ba26;
    --find: #8fa3ff;
    --blue: #9bb0ff;
    --shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
    --orange: #ff6b6b;
    --selected: rgba(190, 216, 190, 0.67);
    --logohover: #1eff1e;
    --navblur: rgba(14, 14, 14, 0.85);
    --pinkh: #ff9fb0;
    --pink: #e77790;
    --lightery: #ffd74d;
    --footer1: rgba(247, 186, 38, 0.08);
    --footer2: rgba(247, 186, 38, 0.2);
    --boardertop: rgba(255, 255, 255, 0.15);
}

@font-face {
    font-family: 'mon';
    src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'ke';
    src: url(fonts/Knewave-Regular.ttf);
}
@font-face {
    font-family: 'po';
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'ne';
    src: url(fonts/NewTegomin-Regular.ttf);
}
* {
    margin: 0%;
    padding: 0%;
    font-family: 'mon';
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--white);
}
/* nav */
nav {
    display: flex;
    width: 100%;
    height: 104px;
    padding: 19px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--white); 
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; 
}
nav.scrolled {
    background-color:var(--navblur); 
    backdrop-filter: blur(5px); 
}

.navd{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}
.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
}

.logodiv {
    width: 178px;
    height: 66px;
    position: relative; 
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: var(--darkgreen);
    font-family: 'ke';
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.6px;
    position: relative;
    z-index: 2;
    transition: color 0.3s ease; 
}

.hearticon {
    background-image: url(icons/solar_heart-broken.svg);
    width: 44.809px;
    height: 41.176px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%; 
    left: 90%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    transition: transform 0.3s ease;
}

.logodiv:hover .logo {
    color:var(--logohover); 
}

.logodiv:hover .hearticon {
    transform: translate(-50%, -50%) scale(1.2) rotate(-15deg); 
}


a{
    text-decoration: none;
}
.navbtdiv{
    width: 566px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbt {
    color: var(--lightgreen1);
    font-family: 'po';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.3s ease;
}

.navbt:hover {
    color: var(--hover); 
    cursor: pointer; 
    transform: scale(1.05);
}
.selected{ color:var(--selected);}
.icondiv {
    width: 251px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ar {
    width: 38px;
    height: 38px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.ar:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmodediv {
    height: 39.802px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.darkmodebt {
    width: 24px;
    height: 24px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.darkmodebt:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.darkmode {
    color: var(--lightgreen1);
    font-size: 8.923px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: color 0.3s ease;
}
.darkmodediv:hover .darkmode {
    color: var(--orange); 
}
.profilediv:hover .darkmode {
    color:var(--orange);
}

.profileicon {
    width: 39px;
    height: 39px;
    aspect-ratio: 1/1;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.profileicon:hover {
    transform: scale(1.2);
    filter: brightness(1.5) sepia(0.2) hue-rotate(30deg);
    cursor: pointer;
}

.profilediv {
    width: 40px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logout {
    color: var(--d2);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    width: 66px;
    line-height: normal;
    transition: color 0.3s ease, transform 0.3s ease;
}
.logout:hover {
    color: var(--orange); 
    transform: scale(1.05);
    cursor: pointer;
}
/* section1 */
.s1{
    width: 100%;
    height: 1053px;
    margin-top: 104px;
    aspect-ratio: 1513/953;
    background-image: url(assets/homesection1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center
}
.s1div1{
    display: flex;
    width: 1260px;
    height: 740px;
    padding: 72px 34px;
    margin-top: -150px;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    border-radius: 40px;
}

.child1{
    display: flex;
    width: 750px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

h1 {
    color: var(--back);
    font-family: "ne";
    font-size: 86px;
    font-weight: 400;
    line-height: 112%;
}

.highlight {
    color: var(--lightgreen);
    display: inline-block;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
        color: var(--lightgreen);
    }
    50% {
        transform: scale(1.08);
        opacity: 0.85;
    }
    100% {
        transform: scale(1);
        opacity: 1;
        color: var(--lightgreen);
    }
}

.p1{
    color: var(--back);
    font-size: 22px;
    font-weight: 300;
    width: 420px;
}

.s1btdiv{
    width: 400px;
    height: 58px;
    display: flex;
    justify-content: space-between;
}

.learnmorebt {
    display: flex;
    width: 195px;
    height: 58px;
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    border: 2.5px solid var(--lightgreen);
    transition: all 0.3s ease;
    cursor: pointer;
}

.learnmorebt:hover {
    background-color: var(--lightgreen);
    transform: scale(1.05);
    box-shadow: var(--shadow);
}

.learnmore {
    color: var(--lightgreen);
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.learnmorebt:hover .learnmore {
    color: var(--white);
}

.arrow1 {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-image: url(icons/aroow1.png);
    transition: transform 0.3s ease;
}

.learnmorebt:hover .arrow1 {
    transform: translateX(4px);
}

.findsupportbt {
    display: flex;
    width: 195px;
    height: 58px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 16px;
    background: var(--blue);
    transition: all 0.3s ease;
    cursor: pointer;
}

.findsupportbt:hover {
    background: var(--find);
    transform: scale(1.05);
    box-shadow: var(--shadow);
}

.find {
    color: var(--white);
}

.infodiv{
    width: 550px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.i1{
    display: flex;
    width: 235px;
    height: 64px;
    flex-direction: column;
    justify-content: center;
}

.num{
    color: var(--darkgreen);
    font-size: 18px;
    font-weight: 400;
}

.inftext{
    color: var(--back);
    font-size: 21px;
    font-weight: 400;
    width: 380px;
    line-height: 160%;
}

.s1img2{
    width: 410px;
    height: 570px;
    background-image: url(assets/s1img2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.svg{
    width: 100vw;
    height: 100px;
    display: block;
    fill: var(--white);
    position: relative;
    z-index: 2;
    margin-top: -90px;
}
.scrolltotop {
    display: flex;
    width: 70px; /* smaller for corner */
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50%;
    background: var(--lightery);
    position: fixed;
    bottom: 30px; /* distance from bottom */
    right: 30px;  /* distance from right */
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 9999;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0; /* hidden initially */
}

.scrolltotop.show {
    opacity: 1;
}

.arrow22 {
    width: 30px;
    height: 30px;
    background-image: url(assets/Arrow\ 22222.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.scrolltotop:hover {
    transform: scale(1.1);
}

/* section2 */
.s2{
    width: 100%;
    height: 899px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v3{
    width: 260px;
    height: 676.215px;
    background-image: url(assets/Vector\ 3.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 100px;
}

.v4{
    width: 487px;
    height: 353px;
    background-image: url(assets/Vector\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 250px;
}
.v5{
    width: 95.142px;
    height: 92.295px;
    background-image: url(assets/Group\ 17.svg);
    background-size: contain;
    background-repeat: no-repeat;
     position: absolute;
      right: 190px;
    top: 50px;
}
.s2div1{
    width: 1125px;
    height: 640px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itsokayposter{
    width: 513px;
    height: 628px;
    aspect-ratio: 513/628;
    background-image: url(assets/iitsokay.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

.s2div2{
    display: flex;
    width: 534px;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}
h4{
    color: var(--darkgreen);
    font-family: "ne";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.p2{
    color: var(--back);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.list {
    color: var(--darkgreen);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 188.019%;
    list-style-type: disc; 
    padding-left: 24px;  
}
.y{
    border-color: var(--yellow);
    background: var(--yellow);
}
/* section3 */
.s3{
   display: flex;
    width: 100%;
    height: 845px;
    padding: 26px 173px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.s3d1{
    display: flex;
    width: 1165.326px;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    height: 760.69px;
}
.c1{
    width: 645px;
height: 105.001px;
}
.lines{
    width: 207.001px;
    height: 17.001px;
    background-image: url(assets/lines.svg);
    background-size: contain;
    margin-left: 50px;
    background-repeat: no-repeat;
}
.p3{
    color:var(--back);
    text-align: center;
    font-size: 25.672px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    width: 935px;
    height: 62px;
}
.c2{
    width: 1165.326px;
    height: 579.689px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card1{
    width: 352px;
    height: 473px;
    transform: rotate(7.458deg);
    border-radius: 23px;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card2{
    width: 352px;
    height: 473px;
    transform: rotate(-6.147deg);
    border-radius: 23px;
    background:var(--pink);
     display: flex;
    align-items: center;
    justify-content: center;
       flex-direction: column;
}
.card3{
    width: 352px;
    height: 395.274px;
    transform: rotate(17.191deg);
    border-radius: 23px;
    background: var(--yellow);
     display: flex;
    align-items: center;
    justify-content: center;
       flex-direction: column;
}
.card1, .card2, .card3 {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
}

.card1:hover {
    transform: rotate(8deg) scale(1.03) translateY(-5px);
    box-shadow: var(--shadow);
}

.card2:hover {
    transform: rotate(-5deg) scale(1.03) translateY(-5px);
    box-shadow: var(--shadow);
}

.card3:hover {
    transform: rotate(18deg) scale(1.03) translateY(-5px);
    box-shadow:var(--shadow) 0 10px 20px rgba(0,0,0,0.2);
}

.card1:hover, .card2:hover, .card3:hover {
    animation: gentleBubble 1.2s ease-in-out infinite alternate;
}

@keyframes gentleBubble {
    0% { transform: scale(1.03) translateY(-5px) rotate(0deg); }
    50% { transform: scale(1.035) translateY(-6px) rotate(1deg); }
    100% { transform: scale(1.03) translateY(-5px) rotate(0deg); }
}

.quotes{
    color: var(--white);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 120px;
}
.star1{
    width: 142px;
    height: 142px;
    background-image: url(assets/Star\ 1.svg);
    margin-top: -220px;
    background-size: contain;
    background-repeat: no-repeat;
}
.star2{
    width: 89px;
    height: 89px;
    transform: rotate(-11.213deg);
    background-image: url(assets/Star\ 2.svg);
    margin-top: -220px;
    background-size: contain;
    background-repeat: no-repeat;
}
.star3{
    width: 89px;
    height: 89px;
    transform: rotate(-11.213deg);
    background-image: url(assets/Star\ 3.svg);
    margin-top: -140px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* section4 */
.s4{
    width: 100%;
    height: 808px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.s4d1{
    width: 1317px;
    height: 557px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.c3{
    width: 674px;
    height: 548px;
    background-image: url(assets/Rectangle\ 49.svg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.c3d{
    display: flex;
    width: 620px;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}
.help{
    color: var(--d2);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 30.6px; /* 47.813% */
}
.p4{
    color: var(--back);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 200;
    line-height: 45px; /* 125% */
    text-transform: capitalize;
}
.jourbt {
    display: flex;
    width: 306px;
    height: 90px;
    padding: 20px 43px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    border-radius: 26px;
    background: var(--pink);
    color: var(--white);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.3s ease; 
    cursor: pointer;
}

.jourbt:hover {
    transform: scale(1.05); 
    box-shadow: var(--shadow); 
    background: var(--pinkh); 
}
.high5{
    width: 619px;
    height: 551px;
    background-image: url(assets/Group\ 25.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--whitet);
    border-radius: 30px;
}
/* section 5 */
.s5{
    width: 100%;
    height: 848px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.s5c1{
    display: flex;
    width: 1286.371px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
.p5{
    color: var(--darkgreen);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 30.6px; /* 127.5% */
}
.staticsd{
    width: 1286.371px;
    height: 410.407px;
    display: flex;
    justify-content: space-between;
}
.cards {
    display: flex;
    width: 297.371px;
    height: 410.407px;
    padding: 36px 23px;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    border-radius: 26.898px;
    border: 6px solid var(--darkgreen);
    background: var(--whitet);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

/* Hover effect */
.cards:hover {
    transform: scale(1.05) translateY(-8px); 
    box-shadow:var(--shadow); 
    border-color: var(--blue);
}

.staticsicons{
    width: 169px;
height: 169px;
flex-shrink: 0;
aspect-ratio: 1/1;
background-size: contain;
background-repeat: no-repeat;
}
.brain{background-image: url(assets/icon-park-solid_brain.svg);}
.herat{background-image: url(assets/healthicons_mental-health-outline-24px.svg);}
.helpp{background-image: url(assets/mdi_help-outline.svg);}
.ages{background-image: url(assets/game-icons_ages.svg);}
.statstext{
    color:var(--backt);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.6px; /* 127.5% */
}
.p6{
    color: var(--backt);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
.morefactsbt {
    display: flex;
    width: 306px;
    height: 90px;
    padding: 20px 43px;
    justify-content: center;
    align-items: center;
    gap: 13px;
    color: var(--darkgreen);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    border-radius: 26px;
    background: var(--yellow);
    line-height: normal;
    transition: all 0.3s ease; /* smooth transition */
    cursor: pointer;
}

/* Hover effect */
.morefactsbt:hover {
    transform: scale(1.05); 
    box-shadow: var(--shadow);
    background:var(--lightery); 
}
.circle {
    width: 349px;
    height: 349px;
    border-radius: 50%; 
    background: var(--yellow);
    position: absolute; 
    left: 200px;
    z-index: -10; 
    margin-top: -100px;
}
.s6{
    width: 100%;
    height: 843px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s6d1{
    display: flex;
    width: 1307.864px;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}
.s6cardd{
    width: 1357.864px;
height: 590px;
display: flex;
justify-content: space-between;
flex-direction: row;
}
.cardss{
    width: 441px;
height: 515px;
position: relative;
}
.cards6{
    display: flex;
width: 440px;
height: 459px;
padding: 15px 20px;
flex-direction: column;
align-items: flex-start;
gap: 31px;
border-radius: 23.615px;
margin-top: 120px;
}
.blue{ background-color: var(--blue);}
.pink{ background-color: var(--pink);}
.yellow{ background-color: var(--yellow);}
.triangle{
    width: 114.013px;
    height: 114.013px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.t1{background-image: url(assets/Polygon\ 4.svg);margin-top: 70px; }
.t2{background-image: url(assets/Polygon\ 3.svg);margin-top: 70px; }
.t3{background-image: url(assets/Polygon\ 1.svg);margin-top: 70px; }
.num1{
    display: flex;
width: 69px;
height: 69px;
padding: 19px 13px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--whitet);
text-align: center;
border-radius: 13px;
border: 3px solid var(--whitet);
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 30.6px; /* 76.5% */
}
.cardinfo{
    color: var(--whitet);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 30.6px; /* 127.5% */
}
.cardlist {
    padding-left: 20px;
    margin: 10px 0 0;
}

.cardlist li {
   font-size: 24px;
    line-height: 22px;
    margin-bottom: 6px;
}

/* section 7 */
.s7{
    width: 100%;
    height: 695.614px;
    aspect-ratio: 1512.00/695.61;
    background-image: url(assets/image\ s7.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s7d1{
    display: flex;
    width: 910px;
    height: 422.293px;
    padding: 71.21px 165.605px;
    flex-direction: column;
    align-items: center;
    gap: 26.497px;
    border-radius: 25px;
    background: var(--white);
}
.reachout{
    color: var(--blue);
    text-align: center;
    font-family: "ne";
    font-size: 52.994px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.338px; /* 47.813% */
}
.s7p{
    color: var(--back);
    text-align: center;
    font-size: 19.873px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.153px; /* 141.667% */
    text-transform: capitalize;
}
.contactusbt {
    display: flex;
    width: 253.376px;
    height: 74.522px;
    padding: 16.561px 35.605px;
    justify-content: center;
    align-items: center;
    gap: 10.764px;
    flex-shrink: 0;
    border-radius: 21.529px;
    background: var(--yellow);
    color: var(--white);
    font-size: 19.873px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: 
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.contactusbt:hover {
    background-color: var(--lightery); /* slightly darker yellow */
    transform: translateY(-4px);
    box-shadow: 0 12px 25px var(--shadow);
}
footer{
    width: 100%;
    height: 851px;
    background-image: url(assets/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 100;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerd1{
    display: flex;
    width: 1274px;
    height: 561.01px;
    flex-direction: column;
    align-items: flex-start;
    gap: 56.289px;
    flex-shrink: 0;

}
.fchild1{
    display: flex;
    height: 304.897px;
    padding-right: 0;
    justify-content: center;
    align-items: flex-start;
    gap: 56.289px;
    flex-shrink: 0;
    align-self: stretch;
}
.fbaby1{
    display: flex;
    width: 276.284px;
    height: 304.897px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18.763px;
}
.ft1{
    color: var(--yellow);
    font-size: 18.763px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.144px; /* 150% */
}
.fp1{
    color: var(--whitet);
    font-size: 18.763px;
    font-style: normal;
    font-weight: 300;
    line-height: 28.144px; /* 150% */
}
.notalone{
    display: flex;
    height: 28.144px;
    align-items: center;
    gap: 9.381px;
    flex-shrink: 0;
    align-self: stretch;
}
.ficon{
    width: 23.454px;
    height: 23.454px;
    background-image: url(assets/fIcon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
.your{
    font-weight: 500;
}
.w2{
    font-weight: 400;
}
.quick-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links li {
    margin-bottom: 10px;
}

.quick-links a {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.quick-links a:hover {
    color: var(--yellow);
}
.getint{
    display: flex;
    padding-left: 0;
    align-items: flex-end;
    gap: 14.072px;
    align-items: center;
    align-self: stretch;
}
.iconss{
    width: 23.454px;
    height: 23.454px;
    background-size: cover;
    background-repeat: no-repeat;
}
.mail{ background-image: url(assets/mailIcon.svg); }
.loc { background-image: url(assets/locationIcon.svg)}
.phone{background-image: url(assets/phoneIcon.svg);}
.followusdiv{
    display: flex;
    height: 89.124px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14.072px;
    flex-shrink: 0;
    align-self: stretch;
}
.socials{
    width: 276.28px;
    height: 46.91px;
    background-image: url(assets/socialsContainer.png);
    background-size: contain;
    background-repeat: no-repeat
}
.fs2{
    display: flex;
    height: 66.608px;
    padding-top: 38.464px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    border-top: 0.938px solid var(--boardertop);
}
.divs2f{
    display: flex;
    height: 28.144px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}
.madefor{
    display: flex;
    height: 28.144px;
    align-items: center;
    gap: 9.381px;
}
.crisisdiv{
    display: flex;
    height:120.691px;
    padding: 19.701px 19.701px 0.938px 19.701px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 18.763px;
    border: 0.938px solid var(--footer2);
    background: var(--footer1);
}
#preloader{
    position: fixed;
    inset: 0;
    background: var(--preloader);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

/* container */
.preloaderBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* pulse circle */
.pulse{
    width: 70px;
    height: 70px;
    background: var(--white);
    border-radius: 50%;
    animation: pulse 1.2s ease-in-out infinite;
}

/* text */
.loadingText{
    color: var(--white);
    font-size: 18px;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* animation */
@keyframes pulse{
    0%{
        transform: scale(0.8);
        opacity: 0.6;
    }
    50%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0.8);
        opacity: 0.6;
    }
}

/* hide */
#preloader.hide{
    opacity: 0;
    pointer-events: none;
}
